@charset "UTF-8";

/* police personnalisée */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,400&family=Shrikhand&display=swap");

/* mixins */
@import "./utils/mixins";

/* box-sizing */
* {
  box-sizing: border-box;
}

/* variables */

$color-primary: #f2f2f2;
$color-secondary: #ffffff;

/* body */

body {
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: black;
}

/* Logo */

header {
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
}

#fleche {
  width: 60px;
  height: 60px;
  font-weight: bold;
  padding: 20px 0px 0px 15px;
  &:hover {
    color: #99e2d0;
  }
}

/* Photo restaurant */

#restaurant {
  img {
    justify-content: center;
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    @media screen and (min-width: 768px) and (max-width: 992px) {
      width: 100%;
      height: 400px;
    }
    @media screen and (min-width: 992px) {
      width: 100%;
      height: 500px;
    }
  }
}

/* titre et like */

#titre-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  h1 {
    font-family: "shrikhand", cursive;
    font-size: 25px;
    margin: 0px;
    font-style: italic;
    padding-left: 20px;
  }
  @media screen and (min-width: 992px) {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 75px;
    h1 {
      font-size: 30px;
    }
  }
}

.titre-restaurant_jaime {
  padding-right: 40px;
  font-size: 25px;
  &:hover {
    cursor: pointer;
    transition: color 300ms;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #ff79da, #9356dc);
    color: transparent;
    .jaime2 {
      opacity: 1;
      color: transparent;
    }
  }
}

.jaime1 {
  position: absolute;
  z-index: 1;
}

.jaime2 {
  opacity: 0;
}

/* les cadres */

main {
  background: $color-primary;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

#cadre_noir {
  background: #000000;
  padding-bottom: 30px;
}

/* les différents choix */

h2 {
  font-size: 16px;
  padding: 0px 0px 0px 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: normal;
  @media screen and (min-width: 992px) {
    padding-left: 250px;
  }
}

#entrees {
  padding-bottom: 30px;
  @include apparition-menu;
}

#plats {
  padding-bottom: 30px;
  @include apparition-menu;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#desserts {
  @include apparition-menu;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

span {
  padding-bottom: 5px;
  border-bottom: 5px solid #99e2d0;
}

.choix-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  background: $color-secondary;
  border-radius: 20px;
  max-width: 500px;
  height: 80px;
  margin: 0px auto 20px auto;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  &_coche {
    opacity: 0;
    display: flex;
    width: 0px;
    background: #99e2d0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    .check {
      display: none;
      color: #99e2d0;
      padding: 5px;
      border-radius: 25px;
      background: #ffffff;
      margin: auto;
    }
  }

  &:hover {
    .choix-menu_coche {
      transition: 400ms;
      opacity: 1;
      width: 60px;
      flex-shrink: 0;
    }
    .check {
      display: inline;
      -webkit-animation: rotation 500ms;
      animation: rotation 500ms;
    }
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(0);
  }
}
.choix-menu {
  p {
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
    @include ellipsis;
  }
  h3 {
    cursor: pointer;
    padding: 15px 0px 0px 10px;
    margin: 0px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    @include ellipsis;
  }
  &_texte {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    @include ellipsis;
  }
  &_tarif {
    display: flex;
    align-items: flex-end;
    padding-bottom: 18px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    margin-left: auto;
  }
}

.ellipsis {
  @include ellipsis;
}

/* bouton "commander"  */

#commander {
  border: 1px solid transparent;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  height: 60px;
  width: 200px;
  border-radius: 25px;
  margin: 80px auto;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  p {
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 0px 0px 0px;
    color: #ffffff;
  }
  &:hover {
    opacity: 0.8;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  }
}

/*footer */

#rubrique-footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  gap: 10px;

  a {
    color: white;
    padding-left: 20px;
  }
  &_couverts {
    @include lien-footer;
  }
  &_partenaire {
    @include lien-footer;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    @include footer-responsive;
  }
  @media screen and (min-width: 992px) {
    @include footer-responsive;
    padding-bottom: 20px;
  }
}

footer h3 {
  padding: 30px 0px 0px 20px;
  color: #ffffff;
  text-align: left;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
  @media screen and (min-width: 992px) {
    padding-bottom: 20px;
  }
}
