@charset "UTF-8";
/* police personnalisée */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,400&family=Shrikhand&display=swap");
/* box-sizing */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration-line: none;
  color: black;
}

$purple: #9356dc;
$green: #2a8f75;
$light-green: #99e2d0;
$pink: #ff79da;
$white: #ffffff;

/* Logo */
header {
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
}

#fleche {
  width: 60px;
  height: 60px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 15px;
}

img {
  justify-content: center;
}

/* Photo restaurant */
#restaurant img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* titre et like */
#titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    font-family: "shrikhand", cursive;
    font-size: 25px;
    margin: 0px;
    font-style: italic;
    padding-left: 20px;
  }
}

.jaime {
  padding-right: 40px;
  font-size: 25px;
}

.jaime1 {
  position: absolute;
  z-index: 1;
}

.jaime2 {
  opacity: 0;
}

.jaime:hover {
  transition: color 300ms;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, $pink, $purple);
  color: transparent;
  .jaime2 {
    opacity: 1;
    color: transparent;
  }
}

/* les cadres */
main {
  background: #faf6f6;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

#cadre_noir {
  background: black;
  padding-bottom: 30px;
}

/* les différents choix */

h2 {
  font-size: 16px;
  padding: 0px 0px 0px 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: normal;
}

#entrees {
  padding-top: 10px;
  padding-bottom: 30px;
  opacity: 0;
  animation: 2s slide forwards;
}

#plats {
  padding-bottom: 30px;
  opacity: 0;
  animation: 2s slide forwards;
  animation-delay: 1s;
}

#desserts {
  opacity: 0;
  animation: 2s slide forwards;
  animation-delay: 2s;
}

@keyframes slide {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
span {
  padding-bottom: 5px;
  border-bottom: 5px solid #99e2d0;
}

.choix-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  background: #ffffff;
  border-radius: 20px;
  max-width: 500px;
  height: 80px;
  margin: 0px auto 20px auto;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover {
    .choix-menu_coche {
      margin-right: 0px;
      transition: 400ms;
      opacity: 1;
      width: 60px;
    }
    .check {
      animation: rotation 500ms;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(0);
  }
}

.choix-menu p {
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.choix-menu h3 {
  padding: 15px 0px 0px 10px;
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.choix-menu_texte {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.choix-menu_tarif {
  display: flex;
  align-items: flex-end;
  padding-bottom: 18px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
  margin-left: auto;
}

.choix-menu_coche {
  opacity: 0;
  margin-right: 0px;
  display: flex;
  width: 0px;
  height: 80px;
  background: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  .check {
    height: 25px;
    color: #99e2d0;
    padding: 5px;
    border-radius: 25px;
    background: #ffffff;
    margin: auto;
  }
}

/* bouton "commander"  */

#commander {
  border: 1px solid transparent;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  height: 60px;
  width: 200px;
  border-radius: 25px;
  margin: 60px auto;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  p {
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 0px 0px 0px;
    color: #ffffff;
  }
}
#commander:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

/*footer */

#rubrique-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  p {
    color: $white;
  }
  a {
    color: $white;
    padding-left: 20px;
  }
}

#cadre_noir h3 {
  padding-top: 30px;
  padding-left: 20px;
  color: $white;
  text-align: left;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
}

#rubrique-footer_couverts {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: $white;
}

#rubrique-footer_partenaire {
  display: flex;
  align-items: center;
  color: $white;
  padding-left: 20px;
}

@media screen and (min-width: 992px) {
  #restaurant img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  #titre {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 75px;
    h1 {
      font-size: 30px;
    }
  }

  h2 {
    padding-left: 250px;
  }

  .choix-menu {
    width: 500px;
    height: 80px;
  }

  #commander {
    margin-top: 80px;
  }

  footer h3 {
    padding-bottom: 20px;
  }

  #rubrique-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #rubrique-footer_couverts {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #restaurant img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  #rubrique-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #rubrique-footer_couverts {
    padding-left: 0px;
  }
}
