/* box-sizing */
* {
  box-sizing: border-box;
}

/* police personnalisée */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration-line: none;
  color: black;
}

/* Logo */

header {
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
}

#fleche {
  width: 60px;
  height: 60px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 15px;
}

img {
  justify-content: center;
}

/* Photo restaurant */

#restaurant img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* titre et like */

#titre {
  display: flex;
  justify-content: space-between;
}

#titre h1 {
  font-family: "shrikhand", cursive;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
}

.heart {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 25px;
  font-weight: normal;
}

.heart a:hover {
  color: #9356dc;
}

/* les cadres */

main {
  background: #faf6f6;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

#cadre_noir {
  background: black;
  padding-bottom: 30px;
}

/* les différents choix */

h2 {
  font-size: 16px;
  padding: 0px 0px 0px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: normal;
}

#entrees {
  padding-top: 10px;
  padding-bottom: 30px;
}

#plats {
  padding-bottom: 30px;
}

span {
  text-decoration: underline #99e2d0;
  text-underline-position: under;
  text-decoration-thickness: 3px;
}

.choix {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 20px;
  width: 340px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.choix p {
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.choix h3 {
  padding: 15px 0px 0px 10px;
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 83%;
}

.tarif {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  justify-content: center;
  width: 17%;
  font-weight: bold;
}

#coche {
  background: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.check {
  color: #99e2d0;
  border-radius: 20px;
  padding: 10px;
  background: #def8f2;
  margin-bottom: 10px;
}

/* bouton "commander"  */

#commander {
  border: 1px solid transparent;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  height: 60px;
  width: 200px;
  border-radius: 25px;
  margin: 45px auto;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

#commander p {
  margin: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 0px 0px 0px;
  color: #ffffff;
}

/*footer */

#rubriques_footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

#cadre_noir h3 {
  padding-top: 30px;
  padding-left: 20px;
  color: #ffffff;
  text-align: left;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
}

#couverts {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #ffffff;
}

#partenaire {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 20px;
}

#rubriques_footer p {
  color: #ffffff;
}

#rubriques_footer a {
  color: #ffffff;
  padding-left: 20px;
}
