/* box-sizing */
* {
  box-sizing: border-box;
}

/* police personnalisée */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration-line: none;
  color: black;
}

h4 {
  margin: 0px;
}

/* Logo */

#logo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* cadre icone map + ville */

#cadre_gris {
  background: rgb(223, 216, 216);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid darkgrey;
}

#map {
  display: flex;
  align-items: center;
  justify-content: center;
}

#map p {
  font-weight: bold;
  padding-left: 10px;
}

/* les cadres */

.cadre_gris_clair {
  background: #faf6f6;
  padding-top: 50px;
  padding-bottom: 30px;
}

#cadre_gris {
  background: rgb(240, 235, 235);
}

#cadre_noir {
  background: black;
  padding-bottom: 30px;
}

/* titres */

#titre h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

#titre h3 {
  font-size: 18px;
  font-weight: normal;
  color: grey;
  text-align: center;
}

/* bouton "Explorez nos restaurants" */

#btn {
  border: 0px solid transparent;
  height: 60px;
  width: 240px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 25px;
  margin: 30px auto;
  padding-top: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

/* les différents choix */

#fonctionnement h2 {
  font-size: 25px;
  padding: 30px 0px 20px 20px;
}

.choix {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 25px;
  width: 300px;
  height: 80px;
  padding-right: 40px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.choix p {
  font-weight: bold;
}

.num {
  border: 1px solid #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  color: #ffffff;
  background: #9356dc;
  text-align: center;
  padding-top: 5px;
}

#btn_rose {
  background: #f3e5fa;
  border: 1px solid #f3e5fa;
}

.store {
  color: #9356dc;
}

/* les cards restaurants */

#restaurants h2 {
  font-size: 25px;
  padding: 0px 0px 0px 20px;
}

/* les quatre cards restautants */

#restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

/* chaque card restaurant */

.restaurants {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  height: 280px;
  width: 90%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.restaurants img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.fiche_resto {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.nom_resto {
  display: flex;
  flex-direction: column;
  width: 290px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 20px;
}

.nom_resto p {
  margin: 0px;
  padding-top: 5px;
}

.heart a:hover {
  color: #ff79da;
}

span {
  font-weight: bold;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  height: 80px;
  border: 2px solid grey;
  background: grey;
  border-radius: 20px;
  padding-bottom: 20px;
}

/*footer */

#rubriques_footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

#cadre_noir h3 {
  padding-top: 30px;
  padding-left: 20px;
  color: #ffffff;
  text-align: left;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
}

#couverts {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #ffffff;
}

#partenaire {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 20px;
}

#rubriques_footer p {
  color: #ffffff;
}

#rubriques_footer a {
  color: #ffffff;
  padding-left: 20px;
}
