@charset "UTF-8";
/* police personnalisée */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100;1,400;1,700&display=swap");
/* box-sizing */
* {
  box-sizing: border-box;
}

/* variables */
/*  loading spinner */
.loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #f2f2f2;
  animation: hideLoader 3s 1 forwards;
  animation-delay: 1s;
}

.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: #ff79da solid 5px;
  border-top-color: #99e2d0;
  border-bottom-color: #9356dc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes hideLoader {
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  color: #000000;
}

h3 {
  margin: 0px;
}

/* Logo */
header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* icone map + ville */
#cadre-gris_map {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cadre-gris_map P {
  font-weight: bold;
  padding-left: 10px;
}

/* les cadres */
.cadre-clair {
  background: #faf6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}

#cadre-gris {
  background: #eceaea;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cadre-top {
  height: 8px;
  background-image: linear-gradient(to bottom, #aca3a9, #eceaea);
}

#cadre-noir {
  background: #000000;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

/* titres */
#cadre-clair_titre h1 {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

#cadre-clair_titre h2 {
  font-size: 18px;
  font-weight: normal;
  color: #aca3a9;
  text-align: center;
}

/* bouton "Explorez nos restaurants" */
#btn {
  border: 0px solid transparent;
  height: 60px;
  width: 240px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 25px;
  margin: 30px auto;
  padding-top: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#btn:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

/* les différents choix */
#fonctionnement {
  margin-bottom: 50px;
}
#fonctionnement h2 {
  font-size: 23px;
  padding: 30px 0px 20px 20px;
}

#fonctionnement-choix {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icone {
  font-size: 19px;
  padding-left: 5px;
}

.icone_texte {
  display: flex;
  align-items: center;
  width: 250px;
  padding-right: 20px;
}
.icone_texte span {
  padding-left: 20px;
}

.fonctionnement-choix_choix {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  width: 300px;
  height: 80px;
  background: #f2f2f2;
  margin: 0px auto 20px auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.fonctionnement-choix_choix p {
  font-weight: bold;
}
.fonctionnement-choix_choix:hover {
  background: #f3e5fa;
  border: 2px solid #f3e5fa;
}
.fonctionnement-choix_choix:hover .icone {
  color: #9356dc;
}

.num {
  border: 1px solid #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
  background: #9356dc;
  position: relative;
  right: 15px;
}

/* les cards restaurants */
.photo {
  position: relative;
  text-align: center;
  color: #2a8f75;
  font-weight: bold;
}

.nouveau {
  background: #99e2d0;
  border: 1px solid #99e2d0;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 5px;
}

/* les quatre cards restaurants */
#restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
#restaurants h2 {
  font-size: 23px;
  padding: 0px 0px 0px 20px;
}

/* chaque card restaurant */
.restaurants {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  height: 280px;
  width: 90%;
  margin: auto;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.restaurants img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.fiche_resto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.nom_resto {
  display: flex;
  flex-direction: column;
  width: 290px;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 20px;
}
.nom_resto p {
  margin: 0px;
  padding-top: 5px;
}

.jaime {
  padding-right: 30px;
  font-size: 25px;
}

.like1 {
  position: absolute;
  z-index: 1;
}

.like2 {
  opacity: 0;
}

.jaime:hover {
  transition: color 300ms;
  background-clip: text;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  color: transparent;
}
.jaime:hover .like2 {
  opacity: 1;
  color: transparent;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  height: 80px;
  border: 2px solid #aca3a9;
  background: #aca3a9;
  border-radius: 20px;
  padding-bottom: 20px;
}

/*footer */
#rubriques-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}
#rubriques-footer p {
  color: #ffffff;
}
#rubriques-footer a {
  color: #ffffff;
  padding-left: 20px;
}

#cadre-noir h3 {
  padding-top: 30px;
  padding-left: 20px;
  color: #ffffff;
  text-align: left;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
}

#rubriques-footer_couverts {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #ffffff;
}

#rubriques-footer_partenaire {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 20px;
}

@media screen and (min-width: 992px) {
  #fonctionnement-choix {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
  }

  .restaurants {
    max-width: 800px;
  }

  footer h3 {
    padding-bottom: 20px;
  }

  #rubriques-footer_couverts {
    padding-left: 0px;
  }

  #rubriques-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #rubriques-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #rubriques-footer_couverts {
    padding-left: 0px;
  }
}

/*# sourceMappingURL=accueil.css.map */
