@charset "UTF-8";
/* police personnalisée */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100;1,400;1,700&display=swap");
/* mixins */
/* box-sizing */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* variables */
/*  loading spinner */
.loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #f2f2f2;
  -webkit-animation: hideLoader 3s 1 forwards;
  animation: hideLoader 3s 1 forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: #ff79da solid 5px;
  border-top-color: #99e2d0;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes hideLoader {
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes hideLoader {
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* body */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #000000;
}

h3 {
  margin: 0px;
}

/* Logo */
header {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

/* icone map + ville */
#cadre-gris_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cadre-gris_map P {
  font-weight: bold;
  padding-left: 10px;
}

/* les cadres */
.cadre-clair {
  background: #f2f2f2;
  padding: 30px 0px;
}

#cadre-gris {
  background: #e0dede;
  padding: 10px 0px;
}

#cadre-top {
  height: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aca3a9), to(#e0dede));
  background-image: linear-gradient(to bottom, #aca3a9, #e0dede);
}

#cadre-noir {
  background: #000000;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

/* titres */
#cadre-clair_titre h1 {
  font-size: 25px;
  text-align: center;
  margin: 3rem;
}

#cadre-clair_titre h2 {
  font-size: 18px;
  font-weight: normal;
  color: #aca3a9;
  text-align: center;
  margin: 0px;
}

/* bouton "Explorez nos restaurants" */
#btn {
  border: 0px solid transparent;
  height: 60px;
  width: 240px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 25px;
  margin: 40px auto;
  padding-top: 5px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

#btn:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

/* les différents choix */
#etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

#etapes h2 {
  font-size: 23px;
  padding: 30px 0px 20px 20px;
}

@media screen and (min-width: 992px) {
  #fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 10px;
  }
  #fonctionnement h2 {
    margin-bottom: 20px;
  }
}

.fonctionnement-etapes_texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  padding-right: 20px;
}

.fonctionnement-etapes_texte span {
  padding-left: 20px;
}

.icone {
  font-size: 19px;
  padding-left: 5px;
}

.fonctionnement-etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  width: 300px;
  height: 80px;
  background: #f2f2f2;
  margin: 0px auto 20px auto;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.fonctionnement-etapes p {
  font-weight: bold;
}

.fonctionnement-etapes:hover {
  background: #f3e5fa;
  border: 2px solid #f3e5fa;
}

.fonctionnement-etapes:hover .icone {
  color: #9356dc;
}

.fonctionnement-etapes_num {
  border: 1px solid #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
  background: #9356dc;
  position: relative;
  right: 15px;
}

/* les cards restaurants */
.photo {
  position: relative;
  text-align: center;
  color: #2a8f75;
  font-weight: bold;
}

.nouveau {
  background: #99e2d0;
  border: 1px solid #99e2d0;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 5px;
}

/* les quatre cards restaurants */
#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
  padding-bottom: 40px;
}

#restaurants h2 {
  font-size: 23px;
  padding: 50px 0px 30px 20px;
  margin: 0px;
}

/* chaque card restaurant */
.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  height: 280px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  cursor: pointer;
}

.restaurant img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .restaurant {
    max-width: 800px;
  }
}

.restaurant-fiche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.restaurant-fiche_nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  text-decoration: none;
  padding: 5px 0px 0px 20px;
}

.restaurant-fiche p {
  margin: 0px;
  padding-top: 5px;
}

.restaurant-fiche_jaime {
  padding-right: 30px;
  font-size: 25px;
}

.jaime1 {
  position: absolute;
}

.jaime2 {
  opacity: 0;
}

.restaurant-fiche_jaime:hover {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  color: transparent;
}

.restaurant-fiche_jaime:hover .jaime2 {
  opacity: 1;
  color: transparent;
}

/*footer */
#rubrique-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
  gap: 10px;
}

#rubrique-footer a {
  color: white;
  padding-left: 20px;
}

#rubrique-footer_couverts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: #ffffff;
}

#rubrique-footer_partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #rubrique-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 30px;
  }
}

@media screen and (min-width: 992px) {
  #rubrique-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 30px;
    padding-bottom: 20px;
  }
}

footer h3 {
  padding: 30px 0px 0px 20px;
  color: #ffffff;
  text-align: left;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 992px) {
  footer h3 {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=accueil.css.map */