/* police personnalisée */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,400&family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100;1,400;1,700&display=swap");

/* mixins */
@import "../utils/mixins";

/* box-sizing */
* {
  box-sizing: border-box;
}

/* variables */

$color-primary: #aca3a9;
$color-secondary: #f2f2f2;

/*  loading spinner */

.loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: $color-secondary;
  -webkit-animation: hideLoader 3s 1 forwards;
  animation: hideLoader 3s 1 forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: #ff79da solid 5px;
  border-top-color: #99e2d0;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes hideLoader {
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes hideLoader {
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* body */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #000000;
}

h3 {
  margin: 0px;
}

/* Logo */

header {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

/* icone map + ville */

#cadre-gris_map {
  display: flex;
  align-items: center;
  justify-content: center;
  P {
    font-weight: bold;
    padding-left: 10px;
  }
}

/* les cadres */

.cadre-clair {
  background: $color-secondary;
  padding: 30px 0px;
}

#cadre-gris {
  background: #e0dede;
  padding: 10px 0px;
}

#cadre-top {
  height: 8px;
  background-image: linear-gradient(to bottom, $color-primary, #e0dede);
}

#cadre-noir {
  background: #000000;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

/* titres */

#cadre-clair_titre {
  h1 {
    font-size: 25px;
    text-align: center;
    margin: 3rem;
  }
  h2 {
    font-size: 18px;
    font-weight: normal;
    color: $color-primary;
    text-align: center;
    margin: 0px;
  }
}

/* bouton "Explorez nos restaurants" */

#btn {
  border: 0px solid transparent;
  height: 60px;
  width: 240px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 25px;
  margin: 40px auto;
  padding-top: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  }
}

/* les différents choix */

#fonctionnement {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  h2 {
    font-size: 23px;
    padding: 30px 0px 20px 20px;
  }
}

.fonctionnement-etapes_texte {
  display: flex;
  align-items: center;
  width: 250px;
  padding-right: 20px;
  span {
    padding-left: 20px;
  }
}

.icone {
  font-size: 19px;
  padding-left: 5px;
}

.fonctionnement-etapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid $color-secondary;
  border-radius: 25px;
  width: 300px;
  height: 80px;
  background: $color-secondary;
  margin: 0px auto 20px auto;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  p {
    font-weight: bold;
  }
  &:hover {
    background: #f3e5fa;
    border: 2px solid #f3e5fa;
    .icone {
      color: #9356dc;
    }
  }
}
.fonctionnement-etapes_num {
  border: 1px solid #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
  background: #9356dc;
  position: relative;
  right: 15px;
}

/* les cards restaurants */

.photo {
  position: relative;
  text-align: center;
  color: #2a8f75;
  font-weight: bold;
}

.nouveau {
  background: #99e2d0;
  border: 1px solid #99e2d0;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 5px;
}

/* les quatre cards restaurants */

#restaurants {
  display: flex;
  flex-direction: column;
  background: $color-secondary;
  padding-bottom: 40px;
  h2 {
    font-size: 23px;
    padding: 50px 0px 30px 20px;
    margin: 0px;
  }
}

/* chaque card restaurant */

.restaurant {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  height: 280px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  cursor: pointer;
  img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media screen and (min-width: 992px) {
    max-width: 800px;
  }
}

.restaurant-fiche {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.restaurant-fiche_nom {
  display: flex;
  flex-direction: column;
  width: 290px;
  text-decoration: none;
  padding: 5px 0px 0px 20px;
  p {
    margin: 0px;
    padding-top: 5px;
  }
}

.jaime {
  padding-right: 30px;
  font-size: 25px;
}

.jaime1 {
  position: absolute;
}

.jaime2 {
  opacity: 0;
}

.jaime:hover {
  transition: color 300ms;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  color: transparent;
  .jaime2 {
    opacity: 1;
    color: transparent;
  }
}

/*footer */

#rubrique-footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  gap: 10px;
  a {
    color: white;
    padding-left: 20px;
  }
  &_couverts {
    @include lien-footer;
  }
  &_partenaire {
    @include lien-footer;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    @include footer-responsive;
  }
  @media screen and (min-width: 992px) {
    @include footer-responsive;
    padding-bottom: 20px;
  }
}

footer h3 {
  padding: 30px 0px 0px 20px;
  color: #ffffff;
  text-align: left;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
  @media screen and (min-width: 992px) {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  #fonctionnement-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
  }
}
